/* Este es el archivo principal de SASS */
/* Tiene todo los archivos importados */
/* Variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  font-family: "Segoe UI";
}

.body {
  background-color: #141414;
}

.header {
  top: 0;
  width: 100%;
  background-color: black;
  /*.barra__div {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: auto;
    }

    .barra__busqueda-1 {
        height: 30px;
        background-color: #000;
        color: white;
        margin-top: auto;
        margin-right: 0;
        margin-bottom: auto;
        margin-left: auto;
    }

    .barra__busqueda-2 {
        width: 50px;
        height: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
        background-color: #000;
        border-style: white;
        color: white;
        margin-top: auto;
        margin-right: 0;
        margin-bottom: auto;
        margin-left: 0;
    }*/
}

.header .nav__1 {
  background-color: black;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header__titulos {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.header__enlaces {
  margin: 16px;
  position: relative;
  text-align: left;
}

.header__menu {
  display: none;
}

.header__hijo {
  color: white !important;
}

.header__hijo:hover {
  color: #E50914 !important;
}

.header .logo {
  margin-top: auto;
  margin-right: 0;
  margin-bottom: auto;
  margin-left: 0;
}

.header__logo {
  width: 40px;
  height: 40px;
  align-items: center;
}

.header .barra__busquedaB1 {
  color: white !important;
  background-color: black !important;
  border-color: white !important;
}

.header .barra__busquedaB1:focus {
  box-shadow: inset 0 0 0 1px #E50914 !important;
}

.header .barra__busquedaB2 {
  color: white !important;
  background-color: black !important;
  border-color: white !important;
}

.main {
  background-color: #141414;
}

.main .m__section {
  background-image: url(../imagenes/Leyenda-de-corra.webp);
  background-position: center center;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main .section {
  width: 100%;
  position: relative;
}

.main .mm__section {
  text-align: left;
  padding-left: 100px;
  padding-top: 400px;
  padding-right: 350px;
  padding-bottom: 200px;
  height: 800px;
}

.main__section {
  color: white;
  text-align: left;
}

.main__boton {
  width: 150px;
  height: 30px;
  background-color: black;
  color: white;
}

.main__subtitulo {
  text-align: left;
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: auto;
}

.main .separador__div {
  border-top: 60px solid #141414;
}

.main__div {
  background-color: #141414;
}

.main__grid {
  display: grid;
  grid-template-columns: repeat(6, 295px);
  grid-template-rows: repeat(6, 200px);
  margin-left: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.main .main__imagenes {
  padding: 1rem;
}

.main .main__imagen {
  object-fit: cover;
  border-radius: 25px;
  transition: transform 0.5s;
}

.main .main__imagen:hover {
  transform: scale(1.1);
}

.tarjeta {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  overflow: auto;
  align-items: center;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: 45px;
  margin-right: auto;
}

.tarjeta__lista {
  align-content: space-between;
  justify-content: flex-start;
  border-radius: 10px;
  min-height: 500px;
}

.tarjeta__div {
  border-radius: 1rem;
}

.tarjeta .main__imagenes {
  padding: 1rem;
}

.tarjeta .main__imagen {
  object-fit: cover;
  border-radius: 25px;
  transition: transform 0.5s;
}

.tarjeta .main__imagen:hover {
  transform: scale(1.1);
}

.tarjeta .tema__series {
  color: white;
  overflow: auto;
}

.tarjeta .titulo__pelis {
  text-align: left;
}

.tarjeta .resumen {
  text-align: left;
}

/*.footer__title {
    color: white;
    text-align: left;
}

.footer__padre{
    color: white;
    display: flex;
    position: relative;
    text-align: left;
    list-style: none;
    font-size: 32px;
    color: white;
    text-decoration: none;
    gap: 20px;
}

.footer__redes {
    position: relative;
    text-align: left;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.footer__rede1 {
    margin: 1rem;
}

.footer__rede2 {
    margin: 1rem;
}

.footer__rede3 {
    margin: 1rem;
}

.footer__rede4 {
    margin: 1rem;
}*/
.footer__copy {
  background-color: black;
}

@media screen and (max-width: 1300px) {
  .main__grid {
    grid-template-columns: repeat(3, 295px);
    grid-template-rows: repeat(10, 200px);
  }
  .header__menu {
    display: none;
  }
  .barra__busquedaB {
    color: white !important;
    background-color: white !important;
  }
  .footer__padre {
    display: flex;
    font-size: 32px;
    color: white;
    text-decoration: none;
    gap: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .nav__1 {
    flex-direction: column;
    align-items: center;
  }
  .m__section {
    background-image: url(../imagenes/inicio-fondo-1.webp);
  }
  .header__menu {
    display: none;
  }
  /*.barra__div {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        position: relative;
        justify-content: center;
    }

    .barra__busqueda-1 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .barra__busqueda-2 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }*/
  .imagen__hamburguesa {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  .main__grid {
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(11, 200px);
  }
  .main__subtitulo {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
  }
  .mm__section {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  .main__section {
    text-align: center;
  }
  .footer__padre {
    display: flex;
    font-size: 32px;
    color: white;
    text-decoration: none;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .nav__1 {
    display: flex;
    flex-direction: row;
  }
  .header__titulos {
    display: none;
    flex-direction: column;
    text-align: center;
  }
  #menu {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    transition: right 1s;
  }
  #menu:target {
    right: 0;
  }
  .header__menu {
    display: flex;
    font-size: 32px;
    color: white;
    text-decoration: none;
  }
  .barra__busqueda-2 {
    display: none;
  }
  .m__section {
    background-image: url(../imagenes/inicio-fondo-1.webp);
    background-size: initial;
  }
  .main_descripcion {
    display: none;
  }
  .main__grid {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(31, 200px);
    margin: auto;
  }
  .footer {
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .footer__padre {
    display: flex;
    font-size: 32px;
    color: white;
    text-decoration: none;
    gap: 20px;
  }
}
/*# sourceMappingURL=index.css.map */