* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-fondo;
    font-family: "Segoe UI";
}

.body {
    background-color: $color-fondo;
}

.body::-webkit-scrollbar {
    background-color: $color-fondo;
    width: 5px;
}

.body::-webkit-scrollbar-thumb {
    background-color: $color-netflix;
    border-radius: 3px;
}