/*.footer__title {
    color: white;
    text-align: left;
}

.footer__padre{
    color: white;
    display: flex;
    position: relative;
    text-align: left;
    list-style: none;
    font-size: 32px;
    color: white;
    text-decoration: none;
    gap: 20px;
}

.footer__redes {
    position: relative;
    text-align: left;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.footer__rede1 {
    margin: 1rem;
}

.footer__rede2 {
    margin: 1rem;
}

.footer__rede3 {
    margin: 1rem;
}

.footer__rede4 {
    margin: 1rem;
}*/

.footer__footer {
    background-color: black !important;
    bottom: 0 !important;
}

.footer__copy {
    background-color: $color-header-footer !important;
}

.ff__facebook {
    color: map-get($redes, facebook) !important;
    border-color: map-get($redes, facebook) !important;
}

.ff__twitter {
    color: map-get($redes,twitter) !important;
    border-color: map-get($redes,twitter) !important;
}

.ff__youtube {
    color: map-get($redes, youtube) !important;
    border-color: map-get($redes, youtube) !important;
}

.ff__instagram {
    color: map-get($redes, instagram) !important;
    border-color: map-get($redes, instagram) !important;
}