@media screen and (max-width: 1300px) {
    .main__grid {
        grid-template-columns: repeat(3, 295px);
        grid-template-rows: repeat(10, 200px);
    }

    .header__menu {
        display: none;
    }

    .barra__busquedaB {
        color: $color-letras !important;
        background-color: white !important;
    }

    .footer__padre {
        display: flex;
        font-size: 32px;
        color: $color-letras;
        text-decoration: none;
        gap: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .nav__1 {
        flex-direction: column;
        align-items: center;
    }

    .m__section {
        background-image: url(../imagenes/inicio-fondo-1.webp) !important;
    }

    .header__menu {
        display: none;
    }

    /*.barra__div {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        position: relative;
        justify-content: center;
    }

    .barra__busqueda-1 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .barra__busqueda-2 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }*/

    .imagen__hamburguesa {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }

    .main__grid {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(11, 200px);
    }

    .main__subtitulo {
        text-align: center;
        margin-right: 0;
        margin-left: 0;
    }

    .mm__section{
        text-align: center !important;
        padding-left: 100px !important;
        padding-right: 100px !important;
    }

    .main__section {
        text-align: center;
    }

    .footer__padre {
        display: flex;
        font-size: 32px;
        color: white;
        text-decoration: none;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {

    .nav__1 {
        display: flex;
        flex-direction: row;
    }

    .header__titulos {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    #menu {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: right 1s;
    }

    #menu:target {
        right: 0;
    }

    .header__menu {
        display: flex;
        font-size: 32px;
        color: $color-letras;
        text-decoration: none;
    }

    .barra__busqueda-2 {
        display: none;
    }
    
    .m__section {
        background-image: url(../imagenes/inicio-fondo-1.webp) !important;
        background-size: initial;
    }
    
    .main_descripcion {
        display: none;
    }

    .main__grid {
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(31, 200px);
        margin: auto;
    }

    .footer {
        background-color: $color-header-footer;
        color: $color-letras;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .footer__padre {
        display: flex;
        font-size: 32px;
        color: $color-letras;
        text-decoration: none;
        gap: 20px;
    }
}
